version: 2.1

workflows:
  main:
    jobs:
      - package_and_upload:
          context: Alloy

jobs:
  package_and_upload:
    docker:
      - image: cimg/base:2020.01
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    environment:
      BUILD_VERSION: 1.0.0
    steps:
      - checkout
      - run:
          name: Package
          command: find forge -printf "%P\n" | tar -C forge -czvf forge-$BUILD_VERSION-$CIRCLE_BUILD_NUM.tar.gz --no-recursion -T -
      - run:
          name: Install jFrog CLI
          command: curl -fL https://getcli.jfrog.io | sh
      - run:
          name: Upload
          command: |
            BRANCH_SHORT=$(echo $CIRCLE_BRANCH | sed "s/.*\///" | cut -c-9)
            BUILD_NAME="$BRANCH_SHORT-$BUILD_VERSION"

            ./jfrog rt c --url $ARTIFACTORY_URL --user $ARTIFACTORY_USER --password $ARTIFACTORY_PASSWORD --interactive=false
          ./jfrog rt u forge-$BUILD_VERSION-$CIRCLE_BUILD_NUM.tar.gz file-staging-local/$BRANCH_SHORT/$BUILD_VERSION/ --build-name=$BUILD_NAME --build-number=$CIRCLE_BUILD_NUM
            ./jfrog rt bce $BUILD_NAME $CIRCLE_BUILD_NUM  # collects all environment variables on the agent
            ./jfrog rt bp $BUILD_NAME $CIRCLE_BUILD_NUM  # attaches ^^ to the build in artifactory
